<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- external js -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="scripts/mainCtrl.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
 
</head>
<body ng-app="myApp">
  <div ng-controller="MainController"> 
    

    <div class="live cust-live">
      <ol>
        <li ya-tree="child in data.children at ol" ng-class="{minimized:child.minimized}">
          <div>
            <button data-toggle="modal" data-target="#myModal" class="btn btn-primary glyphicon" ng-click="clickFun(child, this)">+</button>
          </div>
          <ol ng-class="{pregnant:child.children.length}"></ol>
          <!-- bootstrap model -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-body">
                  <label class="modal-heading">Select element to add:</label><br>
                  <div class="body-content">  
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-info cust_condition_btn" id="condtnBtn" ng-click="btnSelected('condition')">Condition</button>
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-info cust_action_btn" id="actionBtn" ng-click="btnSelected('action')">Action</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>

      <div><button ng-click="getJson()">Json</button></div>
    <div>{{json}}</div>
  </div>
</body>
</html>
